<div class="app">
  <header>
    <nav class="top-nav">
      <div class="container">
        <ul class="top-nav__links">
          <li class="top-nav__item">{{#link-to "index" class="top-nav__link"}}Call Master{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="app__content">
    <div class="container">
      {{outlet}}
    </div>
  </div>

  <footer class="app__footer">
    <div class="container">
      <p>Copyright 2016</p>
    </div>
  </footer>
</div>
